@model BanDongHoSolution.Data.Dtos.Account.LoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-controller="Account" asp-action="Login">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card">
            <h2>Đăng nhập</h2>
            <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input asp-for="UserName" class="form-control" required placeholder="Tên đăng nhập" />
            </div>

            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" asp-for="Password" required placeholder="Mật khẩu" />
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form> 
